In [1]:
import requests
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import os

In [194]:
df1 = pd.read_csv("data/weather_data.csv")
df1.drop('Unnamed: 0', axis=1, inplace=True)
df1

        zip_code        date   time  temperature  humidity  wind_speed
0         105120  2024-06-01  00:00           66        73           9
1         105120  2024-06-01  00:30           64        77           7
2         105120  2024-06-01  01:00           64        77           4
3         105120  2024-06-01  01:30           63        82           4
4         105120  2024-06-01  02:00           63        82           4
...          ...         ...    ...          ...       ...         ...
120520    143930  2024-06-20  22:00           57        88          13
120521    143930  2024-06-20  22:30           57        88          13
120522    143930  2024-06-20  23:00           57        88          11
120523    143930  2024-06-20  23:30           57        88          11
120524    143930  2024-06-20  23:55           57        88          13

[120525 rows x 6 columns]

In [195]:
df2 = pd.read_csv("data/region_info.csv")
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2.drop('Unnamed: 0.1', axis=1, inplace=True)
df2.drop('Unnamed: 0.2', axis=1, inplace=True)
df2.drop("№", axis=1, inplace=True)
df2

,street,zip_code,latitude,longitude,region,hex_id
0,"""Москва, рабочий посёлок Заречье""",141270,56.148300,37.952924,"141270, Московская обл, г Пушкино, рп Софрино,...",8811aa4513fffff
1,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff
2,"""Москва, Подольское шоссе""",115093,55.711849,37.622868,"115093, г Москва, Даниловский р-н, ул Даниловс...",8811aa7815fffff
3,"""Москва, Севастопольский проспект, 11Е""",117447,55.686800,37.604013,"117447, г Москва, р-н Котловка, Севастопольски...",8811aa7829fffff
4,"""Москва, Кутузовский проспект, 9к1""",121248,55.748471,37.561185,"121248, г Москва, р-н Дорогомилово, Кутузовски...",8811aa7ae9fffff
...,...,...,...,...,...,...
158,"""Москва, улица Лобачевского, 44""",119415,55.669818,37.499754,"119415, г Москва, р-н Проспект Вернадского, ул...",8811aa7b47fffff
159,"""Москва, проспект Генерала Дорохова, 80""",121471,55.682950,37.416842,"121471, г Москва, Очаково-Матвеевское р-н, пр-...",8811aa4585fffff
160,"""Москва, Ельнинская улица, 24""",121552,55.740163,37.419976,"121552, г Москва, р-н Кунцево, ул Ельнинская, ...",8811aa44e3fffff
161,"""Москва, 1-й Хорошёвский проезд, 4к3""",125284,55.777636,37.548178,"125284, г Москва, Хорошевский р-н, 1-й Хорошёв...",8811aa7135fffff
162,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff

In [196]:
df_zip_code = df2.merge(df1, how="inner", on="zip_code")
df_zip_code
# df_zip_code.dropna()

,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed
0,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,00:00,64,73,7
1,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,00:30,66,68,4
2,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,01:00,61,77,7
3,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,01:30,63,72,9
4,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,02:00,63,77,7
...,...,...,...,...,...,...,...,...,...,...,...
140129,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,21:30,59,82,13
140130,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,22:00,59,82,13
140131,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,22:30,59,82,13
140132,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,23:00,57,82,11
140133,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,23:30,57,88,13

In [197]:
df = df_zip_code.copy()

In [198]:
df['date'] = pd.to_datetime(df['date']).dt.date
df['time'] = pd.to_datetime(df['time'], format='%H:%M').dt.time
df['datetime'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))
df['datetime_floor'] = df['datetime'].dt.floor('h')
df = df.drop_duplicates(subset=['hex_id', 'datetime_floor'], keep='first')
df

,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime,datetime_floor
0,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00,2024-06-01 00:00:00
2,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00,2024-06-01 01:00:00
4,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00,2024-06-01 02:00:00
6,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00,2024-06-01 03:00:00
8,"""Москва, Витебская улица, 9""",121354,55.710689,37.411925,"121354, г Москва, Можайский р-н, ул Витебская,...",8811aa45ddfffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140124,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,19:00:00,59,82,18,2024-06-20 19:00:00,2024-06-20 19:00:00
140126,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00,2024-06-20 20:00:00
140128,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,21:00:00,59,82,13,2024-06-20 21:00:00,2024-06-20 21:00:00
140130,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,22:00:00,59,82,13,2024-06-20 22:00:00,2024-06-20 22:00:00
140132,"""Москва, улица Маршала Катукова, вл33""",123181,55.803269,37.422273,"123181, г Москва, р-н Строгино, ул Исаковского...",8811aa7363fffff,2024-06-20,23:00:00,57,82,11,2024-06-20 23:00:00,2024-06-20 23:00:00

In [199]:
full_range = pd.date_range(start=df['datetime_floor'].min(), end=df['datetime_floor'].max(), freq='h')
full_df = pd.DataFrame(full_range, columns=['datetime_floor'])
full_df

# # Заполнение пропущенных значений данными из предыдущих строк
# merged_df.fillna(method='ffill', inplace=True)
# 
# print(merged_df)

         datetime_floor
0   2024-06-01 00:00:00
1   2024-06-01 01:00:00
2   2024-06-01 02:00:00
3   2024-06-01 03:00:00
4   2024-06-01 04:00:00
..                  ...
475 2024-06-20 19:00:00
476 2024-06-20 20:00:00
477 2024-06-20 21:00:00
478 2024-06-20 22:00:00
479 2024-06-20 23:00:00

[480 rows x 1 columns]

In [200]:
# Объединение полного диапазона с оригинальным DataFrame
merged_df = pd.merge(full_df, df, on='datetime_floor', how='left')
merged_df.sort_values(by=['hex_id', 'date', 'time', 'datetime_floor'], ascending=True, inplace=True)
# merged_df['datetime_floor'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))
merged_df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
95,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00
223,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00
351,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00
479,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00
607,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60827,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00
60955,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00
61083,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00
61211,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00
61339,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00

In [201]:
merged_df = merged_df.ffill()
merged_df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
95,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00
223,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00
351,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00
479,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00
607,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60827,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00
60955,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00
61083,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00
61211,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00
61339,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00

In [202]:
df = merged_df.copy()

In [203]:
df['temperature_fahrenheit'] = df['temperature']
df['temperature_celsius'] = round((df.temperature_fahrenheit - 32) / 1.8).astype(int)
df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime,temperature_fahrenheit,temperature_celsius
95,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,64,73,7,2024-06-01 00:00:00,64,18
223,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,61,77,7,2024-06-01 01:00:00,61,16
351,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,63,77,7,2024-06-01 02:00:00,63,17
479,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,63,77,7,2024-06-01 03:00:00,63,17
607,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,63,77,9,2024-06-01 04:00:00,63,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60827,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,57,88,13,2024-06-20 19:00:00,57,14
60955,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,57,88,13,2024-06-20 20:00:00,57,14
61083,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,57,88,11,2024-06-20 21:00:00,57,14
61211,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,57,88,11,2024-06-20 22:00:00,57,14
61339,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,57,88,11,2024-06-20 23:00:00,57,14

In [204]:
df['temperature'] = df['temperature_celsius']
df.drop('temperature_celsius', axis=1, inplace=True)
df.drop('temperature_fahrenheit', axis=1, inplace=True)
df

,datetime_floor,street,zip_code,latitude,longitude,region,hex_id,date,time,temperature,humidity,wind_speed,datetime
95,2024-06-01 00:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,00:00:00,18,73,7,2024-06-01 00:00:00
223,2024-06-01 01:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,01:00:00,16,77,7,2024-06-01 01:00:00
351,2024-06-01 02:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,02:00:00,17,77,7,2024-06-01 02:00:00
479,2024-06-01 03:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,03:00:00,17,77,7,2024-06-01 03:00:00
607,2024-06-01 04:00:00,"""Москва, Островная улица, 2с2""",121552,55.757861,37.450993,"121552, г Москва, Крылатское р-н, ул Островная...",8811aa4483fffff,2024-06-01,04:00:00,17,77,9,2024-06-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60827,2024-06-20 19:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,19:00:00,14,88,13,2024-06-20 19:00:00
60955,2024-06-20 20:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,20:00:00,14,88,13,2024-06-20 20:00:00
61083,2024-06-20 21:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,21:00:00,14,88,11,2024-06-20 21:00:00
61211,2024-06-20 22:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,22:00:00,14,88,11,2024-06-20 22:00:00
61339,2024-06-20 23:00:00,"""Москва, улица Раменки, 25к3""",119607,55.687975,37.494997,"119607, г Москва, р-н Раменки, ул Раменки, д 2...",8811aa7b5dfffff,2024-06-20,23:00:00,14,88,11,2024-06-20 23:00:00

In [206]:
weather_df = df.reindex(
    columns=[
        'hex_id', 'street', 'region', 'latitude', 'longitude', 'datetime', 'temperature', 'humidity', 'wind_speed'
    ]
)
weather_df

,hex_id,street,region,latitude,longitude,datetime,temperature,humidity,wind_speed
95,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 00:00:00,18,73,7
223,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 01:00:00,16,77,7
351,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 02:00:00,17,77,7
479,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 03:00:00,17,77,7
607,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 04:00:00,17,77,9
...,...,...,...,...,...,...,...,...,...
60827,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 19:00:00,14,88,13
60955,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 20:00:00,14,88,13
61083,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 21:00:00,14,88,11
61211,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 22:00:00,14,88,11
61339,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 23:00:00,14,88,11

In [207]:
taxi_df = pd.read_csv('data/taxi_data.csv')
taxi_df.drop('Unnamed: 0', axis=1, inplace=True)
taxi_df.drop('url', axis=1, inplace=True)
taxi_df = taxi_df[taxi_df['date'].astype(str).str.isnumeric()]

In [208]:
month = 6
year = 2024
taxi_df['date'] = taxi_df['date'].astype(str) + f'-{month}-{year}'
taxi_df['date'] = pd.to_datetime(taxi_df['date'])
taxi_df

                    id   time       date  value
0      8811aa6343fffff  23:00 2024-01-06      6
1      8811aa6343fffff  22:00 2024-01-06     10
2      8811aa6343fffff  21:00 2024-01-06     14
3      8811aa6343fffff  20:00 2024-01-06     18
4      8811aa6343fffff  19:00 2024-01-06     17
...                ...    ...        ...    ...
53323  8811aa784dfffff   4:00 2024-11-06      3
53324  8811aa784dfffff   3:00 2024-11-06      3
53325  8811aa784dfffff   2:00 2024-11-06      3
53326  8811aa784dfffff   1:00 2024-11-06      5
53327  8811aa784dfffff   0:00 2024-11-06      7

[53082 rows x 4 columns]

In [209]:
taxi_df['datetime'] = pd.to_datetime(taxi_df['date'].astype(str) + ' ' + taxi_df['time'].astype(str))
taxi_df.sort_values(by=['id', 'datetime'], ascending=True, inplace=True)
taxi_df['hex_id'] = taxi_df['id']
taxi_df.drop('id', axis=1, inplace=True)
taxi_df.drop('time', axis=1, inplace=True)
taxi_df.drop('date', axis=1, inplace=True)
taxi_df

       value            datetime           hex_id
46247      2 2024-09-06 00:00:00  881181a605fffff
46246      0 2024-09-06 01:00:00  881181a605fffff
46245      0 2024-09-06 02:00:00  881181a605fffff
46244      0 2024-09-06 03:00:00  881181a605fffff
46243      0 2024-09-06 04:00:00  881181a605fffff
...      ...                 ...              ...
47380     24 2024-10-06 19:00:00  8811aa7b1bfffff
47379     19 2024-10-06 20:00:00  8811aa7b1bfffff
47378     25 2024-10-06 21:00:00  8811aa7b1bfffff
47377     16 2024-10-06 22:00:00  8811aa7b1bfffff
47376     12 2024-10-06 23:00:00  8811aa7b1bfffff

[53082 rows x 3 columns]

In [223]:
df = pd.merge(taxi_df, weather_df, on=['hex_id', 'datetime'], how='left')
df

,value,datetime,hex_id,street,region,latitude,longitude,temperature,humidity,wind_speed
0,2,2024-09-06 00:00:00,881181a605fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2024-09-06 01:00:00,881181a605fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2024-09-06 02:00:00,881181a605fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2024-09-06 03:00:00,881181a605fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2024-09-06 04:00:00,881181a605fffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
53077,24,2024-10-06 19:00:00,8811aa7b1bfffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53078,19,2024-10-06 20:00:00,8811aa7b1bfffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53079,25,2024-10-06 21:00:00,8811aa7b1bfffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53080,16,2024-10-06 22:00:00,8811aa7b1bfffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53081,12,2024-10-06 23:00:00,8811aa7b1bfffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
df = pd.merge(weather_df, taxi_df, on=['hex_id', 'datetime'], how='left')
df

,hex_id,street,region,latitude,longitude,datetime,temperature,humidity,wind_speed,value
0,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 00:00:00,18,73,7,NaN
1,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 01:00:00,16,77,7,NaN
2,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 02:00:00,17,77,7,NaN
3,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 03:00:00,17,77,7,NaN
4,8811aa4483fffff,"""Москва, Островная улица, 2с2""","121552, г Москва, Крылатское р-н, ул Островная...",55.757861,37.450993,2024-06-01 04:00:00,17,77,9,NaN
...,...,...,...,...,...,...,...,...,...,...
61495,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 19:00:00,14,88,13,NaN
61496,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 20:00:00,14,88,13,NaN
61497,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 21:00:00,14,88,11,NaN
61498,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 22:00:00,14,88,11,NaN
61499,8811aa7b5dfffff,"""Москва, улица Раменки, 25к3""","119607, г Москва, р-н Раменки, ул Раменки, д 2...",55.687975,37.494997,2024-06-20 23:00:00,14,88,11,NaN

In [221]:
weather_df['hex_id'].sort_values()

95       8811aa4483fffff
41939    8811aa4483fffff
41811    8811aa4483fffff
41683    8811aa4483fffff
41555    8811aa4483fffff
              ...
19483    8811aa7b5dfffff
19355    8811aa7b5dfffff
19227    8811aa7b5dfffff
30491    8811aa7b5dfffff
61339    8811aa7b5dfffff
Name: hex_id, Length: 61428, dtype: object

In [222]:
taxi_df['hex_id'].sort_values()

46247    881181a605fffff
46224    881181a605fffff
46226    881181a605fffff
46227    881181a605fffff
46228    881181a605fffff
              ...
47398    8811aa7b1bfffff
47399    8811aa7b1bfffff
47377    8811aa7b1bfffff
47389    8811aa7b1bfffff
47376    8811aa7b1bfffff
Name: hex_id, Length: 53082, dtype: object

In [225]:
len(set(taxi_df['hex_id'].sort_values()))

262

In [226]:
len(set(taxi_df['hex_id'].sort_values()))

128

In [227]:
len(set(weather_df['hex_id'].sort_values()) & set(taxi_df['hex_id'].sort_values()))

37

In [231]:
set(weather_df['hex_id'].sort_values()) - set(taxi_df['hex_id'].sort_values())

{'8811aa4483fffff',
 '8811aa4493fffff',
 '8811aa4499fffff',
 '8811aa449bfffff',
 '8811aa449dfffff',
 '8811aa44a7fffff',
 '8811aa44abfffff',
 '8811aa44adfffff',
 '8811aa44b3fffff',
 '8811aa44bbfffff',
 '8811aa44bdfffff',
 '8811aa44c1fffff',
 '8811aa44c3fffff',
 '8811aa44c7fffff',
 '8811aa44cbfffff',
 '8811aa44cdfffff',
 '8811aa44d9fffff',
 '8811aa44e3fffff',
 '8811aa44e5fffff',
 '8811aa44e9fffff',
 '8811aa44ebfffff',
 '8811aa4581fffff',
 '8811aa45abfffff',
 '8811aa45bbfffff',
 '8811aa45ddfffff',
 '8811aa45e5fffff',
 '8811aa46b3fffff',
 '8811aa602bfffff',
 '8811aa6207fffff',
 '8811aa620dfffff',
 '8811aa6235fffff',
 '8811aa6245fffff',
 '8811aa624dfffff',
 '8811aa630dfffff',
 '8811aa6337fffff',
 '8811aa633bfffff',
 '8811aa6351fffff',
 '8811aa636bfffff',
 '8811aa6a01fffff',
 '8811aa6a43fffff',
 '8811aa6a69fffff',
 '8811aa6b0bfffff',
 '8811aa6b49fffff',
 '8811aa6b4bfffff',
 '8811aa6b53fffff',
 '8811aa6b57fffff',
 '8811aa7003fffff',
 '8811aa7033fffff',
 '8811aa7041fffff',
 '8811aa7049fffff',
 '8811aa7167fffff',
 '8811aa71c7fffff',
 '8811aa71ddfffff',
 '8811aa71edfffff',
 '8811aa7221fffff',
 '8811aa7261fffff',
 '8811aa7267fffff',
 '8811aa7307fffff',
 '8811aa7323fffff',
 '8811aa7345fffff',
 '8811aa7363fffff',
 '8811aa7365fffff',
 '8811aa736dfffff',
 '8811aa7821fffff',
 '8811aa7825fffff',
 '8811aa7829fffff',
 '8811aa782dfffff',
 '8811aa7893fffff',
 '8811aa78b1fffff',
 '8811aa78bbfffff',
 '8811aa7919fffff',
 '8811aa7957fffff',
 '8811aa795bfffff',
 '8811aa798bfffff',
 '8811aa7997fffff',
 '8811aa79a9fffff',
 '8811aa79b1fffff',
 '8811aa7a47fffff',
 '8811aa7a49fffff',
 '8811aa7a51fffff',
 '8811aa7a55fffff',
 '8811aa7a5bfffff',
 '8811aa7a61fffff',
 '8811aa7a65fffff',
 '8811aa7b07fffff',
 '8811aa7b15fffff',
 '8811aa7b17fffff',
 '8811aa7b1dfffff',
 '8811aa7b31fffff',
 '8811aa7b47fffff',
 '8811aa7b5dfffff'}